<div class="row fill align-items-center">
  <div class="col-4">
    <div class="card card-block">
      <a
        routerLink="/add_course"
        class="btn btn-primary btn-lg input-block-level"
      >
        Add Course
      </a>
    </div>
  </div>
  <div class="col-4">
    <div class="card card-inverse card-danger">
      <a routerLink="/view_course" class="btn btn-primary btn-lg"
        >View Course</a
      >
    </div>
  </div>
  <div class="col-4">
    <div class="card card-inverse card-danger">
      <button type="button" class="btn btn-primary btn-lg">
        Register Course
      </button>
    </div>
  </div>
</div>
